$yellow: #fbc531;
$red: #ff3f34;
$orange: #ff9f1a;
$blue: #3c40c6;
$darkblue: #0c2461;
$gray: #7f8c8d;
$darkgray: #485460;
$green: #44bd32;
$darkgreen: #27ae60;

// colors 2

$dark1: #3b162c;
$dark2: #1b2126;
$light: #d2dae2;